body {
  color: white;
  background: #3B5998;
  font-family: 'Slabo 27px', serif;
  font-size: 17px;
}

#intro {
  margin: 150px auto;
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 50vw;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -100;
}

#main {
  background-size: cover;
}

.form {
  margin: 15px auto;
}

#main > p {
  margin: 50px auto;
}

#transfer {
  height: 50vh;
  width: 50vw;
}

#footer {
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,.5);;
  color: white;
  margin-top: 100px;
}

#student-campus-dropdown {
  width: 100%
}

#student-img {
  max-width: 185px;
}

#campus-header {
  text-align: center;
}

#campus-image {
  text-align: center;
}

.close {
  text-align: right;
  color: white;
}

.bg-nav {
  background: rgba(0,0,0,.5);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.campus-item {
  margin: 20px;
  box-sizing: border-box;
  background: rgb(182, 193, 216);
  border: 5px double #bcc4f5;
  padding: 15px;
  border-radius: 50px;
}

.campus-item > a:active {
  color: white;
}

.campus-item > img {
  margin-top: auto;
  margin-bottom: auto;
}

.edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.student-item {
  background: rgb(182, 193, 216);
  border: 5px double #bcc4f5;;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  overflow-wrap: break-word;
}

.student-detail {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 75vw;
}

.student-detail > div {
  margin: auto;
}

.student-detail select {
  margin-bottom: 20px;
}

.student-edit {
  text-align: center;
}

.button-margin {
  margin-left: 10px;
}

.campus {
  margin: 30px auto;
}

.empty-message {
  text-align: center;
  margin-top: 30px;
}

#add-student-to-campus {
  padding-bottom: 0;
}

input[type='text'], select, textarea {
  background: black;
  color: white;
  border: 2px double #8a5478;
  width: 75%;
}

input[type='text']:focus, select:focus, textarea:focus {
  background: black;
  color: white;
  border: 2px double #8a5478;
  width: 75%;
}

input.error[type='text'], textarea.error {
  border: 2px solid red;
}

.error {
  color: red;
}

@media (max-width: 768px) {
  #intro {
    margin: 25px;
    width: 100%;
  }
}
